﻿@model SignalRMVCChat.Areas.security.Controllers.ConfirmCodeViewModel
@{
    ViewBag.Title = "تایید کد ارسالی به ایمیل";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("EmailRequest", "ForgetPassword", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>کدی که به ایمیلتان ارسال شده است را وارد نمایید</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" style="display:none">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="ادامه" />
        </div>
    </div>


    @Html.Partial("~/Areas/security/Views/ForgetPassword/Resend.cshtml")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
