﻿@using SignalRMVCChat.Areas.security.Service
@using SignalRMVCChat.Areas.sysAdmin.Service
@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.Models
@using SignalRMVCChat.Service
@model TelegramBotsWebApplication.Areas.Admin.Models.MyEntityResponse<SignalRMVCChat.Service.MyWebsite>

@{
    ViewBag.Title = "آدرس وب سایتی که مایل هستید گپ چت در آن نصب شود :";
        Layout = "../../Views/Shared/_Layout_Customer.cshtml";


    var myAccountProviderService = Injector.Inject<MyAccountProviderService>();
    MyAccount myAccount=  myAccountProviderService
        .GetAccountIdByUsername(SecurityService.GetCurrentUser().UserName);
}


<div class="card">
                                                    <div class="card-header">
                                                        <h5>@ViewBag.Title </h5>
                                                    </div>
<div class="card-block">


    @using (Html.BeginForm("Save", "MyWebsites", FormMethod.Post))
    {
                               @Html.ValidationSummary("", new { @class = "text-danger" })

        <label>
            آدرس وب سایت 
        </label>
        <input value="@Model.Single.BaseUrl" placeholder=" @MyGlobal.GetBaseUrl(Request.Url)" 
               style="width: 100%;text-align: left;direction: ltr" name="BaseUrl"/>

                                                                                 
@Html.Hidden("MyAccountId",myAccount.Id)
        <hr/>
        <input type="submit" value="ثبت" class="btn btn-primary"/>
        
    
    }


</div>
</div>